<h1>These are all the cards</h1>
	<% @all_cards.each do |card| %>
	<div class="card">
		<div class="options">
			<a href="#"><i class="fa fa-wrench"></i></a>
			<a href="#"><i class="fa fa-trash-o"></i></a>
		</div>
		<p><%= card.value %></p>
		<p>--<%= card.author %></p>
		<!-- <p><%= card.tags %></p> -->
		<p>Last Updated: <%= card.updated %></p>
	</div>
	<% end %>