<h1>Welcome to Warhol</h1>


<form method="POST" action="/signin">
	<label for="username">Username:</label>
	<input class="register" type="text" name="username">
	<label for="password">Password:</label>
	<input class="register" type="password" name="password">
	<input class="register" type="submit" value="Sign In">
	<div class="error"><%= @message %></div>
</form>
