<h1>Sign Up for Warhol</h1>


<form method="POST" action="/register" id="register">
	<label for="name">Name:</label>
		<input type="text" name="name" placeholder="Andy Warhol"> <br>
	<label for="email">Email:</label>
		<input type="text" name="email" placeholder="andy@warhol.com"> <br>
	<label for="username">Username:</label>
		<input type="text" name="username" placeholder="randyandy"> <br>
	<label for="password">Password:</label>
		<input type="password" name="password" id="password1" placeholder="Enter password"> <br>
	<label for="password2">Password, again:</label>
		<input type="password" id="password2" placeholder="Enter password, again"> <br>

	<input type="submit" value="Sign Up!">
</form>
