nav {
	width: 90%;
	margin-left: 5%;
}

.left-nav {
	width: 75%;
	float: left;

}
.right-nav {
	width: 25%;
	float: left;
}

.container {
	width: 90%;
	margin-left: 5%;
}

form {
	text-align: right;
	float: right;
}